h1{
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 300px;
    text-align: center;
    height: 350px;
}

.login-container h2 {
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 25px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    color: #fff;
    border: 2px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    
    bottom: -30px;
}

button:hover {
    background-color: #0056b3;
}

h4{
    position: relative;
    bottom: -3px;
    left: -80px;
}
select{
   position: relative;
   position: absolute;
   top: 376px;
   right: 560px;
}
.register{
    bottom: -15px;
}




